div.logo {
padding: 0;
background-color:none;
}

#navbar { 
	overflow : hidden ;  
	background-color: turquoise;
	padding-top: 0  ;

} 
#navbar a { 
	float: left ; 
	display: block ; 
	color: black ; 
	text-align: center ; 
	padding: 14px 16px ;
	text-decoration: none ; 
	font-size: 17px ; 
	
} 
#navbar a:hover { 
	background-color:#ddd ; 
	color : black ; 
} 
.sticky { 
	position : fixed ;
	top: 0 ; 
	width:100% ; 
	padding-top: 0 ; 
} 
	
div.text{
background-color:Turquoise;
width:100%;
height:100%;
text-align:center;
}
table.mission,th.mission,tr.mission,td.mission {
border:1px solid black;
border-collapse:collapse;
}

.container {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	object-fit:cover
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; ; 
}
	p{font-size:30px;

}
p.o{font-size:25px;
